.project
.pydevproject
.settings
*.pyc
build
dist
output
npamp/model/native.c
npamp/model/native.html
npamp/model/native.pyd
npamp/model/native.so
npamp/main_rc.py
npamp/mainwin.py
npamp/outwin.py
npamp/installer/*.exe
msvcp90.dll
msvcr90.dll
vcredist_x86.exe
